* { 
	background-color: #00c4b3;
	color: #d4bce2;
	text-align: center;
	margin: auto;
	font-family: 'Kaushan Script', cursive;
 }
 a {
 	text-decoration: none;
 }
 #description {
 	padding-left: 10%;
 	padding-right: 10%;
 	padding-top: 5%;
 	padding-bottom: 3%;
 }
 #history {
 	margin-bottom: 30px;
 }
 #bio {
 	margin-bottom: 30px;
 }
