* { 
	background-color: #00c4b3;
	color: #d4bce2;
	text-align: center;
	margin: auto;
	font-family: 'Kaushan Script', cursive;
 }
 a {
 	text-decoration: none;
 }
 #description {
 	padding-left: 10%;
 	padding-right: 10%;
 	padding-top: 5%;
 	padding-bottom: 3%;
 }
 #history {
 	margin-bottom: 30px;
 }
 .bio {
 	margin-bottom: 30px;
 	margin-left: 15px;
 	margin-right: 15px;
 }
 #page-list-button {
 	margin: 20px;
 }
 #page-list {
 	display: inline;
 }
 .laws {
 	margin-bottom: 30px;
 	margin-left: 15px;
 	margin-right: 15px;
 }
.history {
	margin-bottom: 30px;
 	margin-left: 15px;
 	margin-right: 15px;
}
.main {
	margin-bottom: 30px;
 	margin-left: 15px;
 	margin-right: 15px;
}