* {
	font-family: 'Saira Semi Condensed', sans-serif;
	text-decoration: none;
	color: white;
}
.title1 {
	text-align: center;
	text-decoration: none;
}

.description {
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
}
body {
	background-color: #196012;
	color: azure;
}
table {
    text-align: center;
    padding-left: 25%;
}
#price-table {
	margin-left: 12%;
}
#toggle-button {
	background-color: #196012;
	border-style: solid;
	border-color: yellow;
	height: 50px;
	width: 200px;
	margin-bottom: 25px;
	font-size: 14px;
}